<a href="https://colab.research.google.com/github/Dhinesh-Fedor/Python---Basics/blob/main/Python_Basics_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#functions continuation

def one():
  print('one')
def two():
  print('two')
def three():
  print('three')

a = int(input())
if a == 1:
  func_call = one
elif a == 2:
  func_call = two
else:
  func_call = three


func_call()

3
three

In [10]:
#scope of variables
# local, global => general scopes
# LEGB rule => Local Enclosed Global Built-in


x = 1 #global scope => can be accessed from anywhere

def a(y):
  z = x+y  # y and z are local to this function a(). x is global.
  return z

result = a(99)
print(result)

#the entire function is also global


x = 2

def b():
  x = 3  #modifying it locally and doesnot affect globally (ie) modifications exists only inside the function.
  print(x)

b()  # this will print the modified value
print(x) #it will print the global value

100
3
2

In [11]:
#Modifying global variable locally
#global keyword is used to modify the global variable locally

x = 1
def c():
  global x
  x = 2
  print(x)

c() #prints the modified value
print(x) #prints the modified value

2
2

In [12]:
#Nested functions

x = 1

def outside_func():
  x = 2 # this x is local to the current function but becomes global to the inside function
  def inside_func():
    print(x)
  inside_func()
outside_func()
print(x)

2
1

In [14]:
#Returning multiple values => python funcs can return multipke values

def multi(x,y):
  return x,y

a,b= multi(1,[1,2,3,4])  #note :  the no. of arguments passed and variables to get the return values should be equal
print(a,b)

a= multi(1,[1,2,3,4]) #note  : single variable can also be used but when printing it prints as a collection
print(a)

(1, [1, 2, 3, 4])

In [16]:
#Keyword, positional and default arguments

def a(b,c,d=0):  #d = 0 is default argument. If d value is not passed then the default value will be 0.
  print(b,c,d)

a(1,2,3)
a(1,d=3,c=2)
a(c=2,d=3,b=1)

a(1,2) #passing  d value is optional. Default value of d will be 0.

1 2 3
1 2 3
1 2 3
1 2 0

In [21]:
#Arbitrary arguments
#* and ** => support functions to take any number of arguments

def func(*args):
  print(args) #prints the arguments as a one collection (ie. tuple)

func(1,2,3)

def func(**args):
  print(args)

func(a = 1,b = 2, c = 3) # a=1,b=2,c=3 are keyword argumeents. prints the arguments as a one collection (ie. dictionary
                         #(requires double astrik(**) inside the parantheses))

def func(a,*arg,**args):
  print(a,arg,args)

func(1,2,3,x=1,y=2)

(1, 2, 3)
{'a': 1, 'b': 2, 'c': 3}
1 (2, 3) {'x': 1, 'y': 2}

In [24]:
#unpacking arguments

def func(a,b,c,d):
  print(a,b,c,d)

a = (1,2)
a+= (3,4)

func(*a)

def func(a,b,c):
  print(a,b,c)

a = {'a':1,'b':2}
a['c']= 3

func(**a)

1 2 3 4
1 2 3

In [27]:
#OOPS
#Classes and Objects

class Dog:
  #constructor
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def dog(self):
    print('name = ', self.name)
    print('age = ', self.age)
    print("woof!!")

dog = Dog('bob',2) #dog is an object
dog.dog() # class methods can be accessed using dot operator

name =  bob
age =  2
woof!!

In [30]:
class Student:
  def __init__(self,name,age,Class):
    self.name = name
    self.age = age
    self.Class = Class

  def details(self):
    print(f"name : {self.name}")
    print(f"age : {self.age}")
    print(f"class : {self.Class}")

o = Student('bob',17,12)
o.details()

name : bob
age : 17
class : 12

In [32]:
#Exercises

#area of circle
r = int(input())

def area(r):
  return 3.14*r*r

result = area(r)
print(result)

#or

def area(r):
  x = 3.14 *r*r
  print(x)

area(r)


#simple interest

P = int(input())
N = int(input())
R = int(input())

def simpleInterest(P,N,R=0.105):
  SI = (P*N*R)/100
  return SI

simpleInterest(P,N,R)

2
12.56
12.56
2
3
4

0.24