<a href="https://colab.research.google.com/github/Dhinesh-Fedor/Python---Basics/blob/main/Python_Basics_13(Pandas).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Pandas

#importing pandas
import pandas as pd

#pd.Series => 1D array constructor
x = [1,2,3,4]
s = pd.Series(x)
print(s)

#printing with customized index
x = [1,2,3,4]
s = pd.Series(x,index = [1,2,3,4])
print(s)

x = ['a','b','c','d']
s = pd.Series(x,index = [1,2,3,4])
print(s)

0    1
1    2
2    3
3    4
dtype: int64
1    1
2    2
3    3
4    4
dtype: int64
1    a
2    b
3    c
4    d
dtype: object

In [5]:
#Creating pandas series from dictionary

dict = {'name' : 'bob','country': 'india','job':'jobless'}
print(pd.Series(dict))

name           bob
country      india
job        jobless
dtype: object

In [6]:
#Creating a constant pandas series

print(pd.Series(1,index = [1,2,3,4]))

1    1
2    1
3    1
4    1
dtype: int64

In [8]:
#Creating a pandas series using linspace
#linspace(start,end,no of items) => syntax

import numpy as np

print(pd.Series(np.linspace(5,20,10),index = [1,2,3,4,5,6,7,8,9,10]))

1      5.000000
2      6.666667
3      8.333333
4     10.000000
5     11.666667
6     13.333333
7     15.000000
8     16.666667
9     18.333333
10    20.000000
dtype: float64

In [9]:
#DataFrames => 2D

#Pandas DataFrame  => table or spreadsheet format of data (Rowa and Cols)
#can be of different types (int,float,object....)

#Dataframe column => Series

#pandas.DataFrame(data,index,columns,dtype,copy) => syntax

#Creation

#From Lists
data = [
    ['Asabeneh','Finland','Helsink'],
    ['David','Uk','London'],
    ['John','Sweden','Stockholm'],
]

data_frame = pd.DataFrame(data,columns= ['name','country','city'])
print(data_frame)

       name  country       city
0  Asabeneh  Finland    Helsink
1     David       Uk     London
2      John   Sweden  Stockholm

In [11]:
#From Dictionary

data = {
    'name':['Asabeneh','David','John'],
    'country':['Finland','Uk','Sweden'],
    'city': ['Helsink','London','Stockholm']
}

data_frame = pd.DataFrame(data)
print(data_frame)

       name  country       city
0  Asabeneh  Finland    Helsink
1     David       Uk     London
2      John   Sweden  Stockholm

In [12]:
#From List of Dictionary

data = [
    { 'name' : 'Asabeneh', 'country' : 'Finland', 'city' : 'Helsink'},
    { 'name' : 'David', 'country' : 'UK', 'city' : 'London'},
    { 'name' : 'John', 'country' : 'Sweden', 'city' : 'Stockholm'},

]


data_frame = pd.DataFrame(data)
print(data_frame)

       name  country       city
0  Asabeneh  Finland    Helsink
1     David       UK     London
2      John   Sweden  Stockholm

In [15]:
#Creating a series with custom index

print(pd.Series([1,2,3],index = ['a','b','c']))


#Dictionary

dict = pd.DataFrame({'col1':[1,2,3,4],'col2':['a','b','c','d']})
print(dict)

a    1
b    2
c    3
dtype: int64
   col1 col2
0     1    a
1     2    b
2     3    c
3     4    d

In [17]:
#Extracting a series from  dataframe

col1_series = dict['col1']
print(col1_series)

#or

col1__series = dict.col1
print(col1__series)

0    1
1    2
2    3
3    4
Name: col1, dtype: int64
0    1
1    2
2    3
3    4
Name: col1, dtype: int64

In [18]:
#Creating a dataframe from series

s1 = pd.Series([1,2,3])
s2 = pd.Series([4,5,6])

df = pd.DataFrame({'col1':s1,'col2':s2})
print(df)

   col1  col2
0     1     4
1     2     5
2     3     6

In [23]:
#Reading csv from pandas

data_set = pd.read_csv('weight-height.csv')
print(data_set)

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [25]:
data_set.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [26]:
data_set.tail()

      Gender     Height      Weight
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

In [28]:
data_set.shape

(10000, 3)