<a href="https://colab.research.google.com/github/Dhinesh-Fedor/Python---Basics/blob/main/Python_Basics_19(Time%20and%20Date%20with%20Pandas).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
#Time Series Data

#Dates and TImes in Pandas

#datetime module

import datetime

df = datetime.datetime(year = 2022, month = 7, day = 20, hour = 4, minute = 33 )
print(df)

#Note;- Format => YYYY-MM-DD  HR:MIN:SEC

2022-07-20 04:33:00

In [29]:
#Printing in string format


#strftime() => print time in string format
print(df.strftime('%d %B %Y'))

20 July 2022

In [ ]:
#Format codes:
#%Y - full year
#%y - last two digits of year
#%m - month
#%d - day
#%H - hour (24 Hr format)
#%M - minute
#%S - second
#%A - full weekday name
#%a - abbrevated weekday name
#%B - full month name
#%b - abbrevated month name

In [30]:
#Basic usage with Pandas Datetime

import pandas as pd

d = pd.to_datetime('2022-03-01 21:22:32')
print("Datetime : ",d)
f_date = d.strftime('%Y %B %a')
print("\nFormtted datetime : ",f_date)

Datetime :  2022-03-01 21:22:32

Formtted datetime :  2022 March Tue

In [31]:
#Creating  a dataframe  with a Datetime column

se = pd.DataFrame({
    'Dates' : pd.to_datetime(['2022-03-01','2022-01-01','2022-02-01','2022-03-01','2022-04-01'])
})

se['Formatted Dates'] = se['Dates'].dt.strftime('%Y %B %A')

se

       Dates        Formatted Dates
0 2022-03-01     2022 March Tuesday
1 2022-01-01  2022 January Saturday
2 2022-02-01  2022 February Tuesday
3 2022-03-01     2022 March Tuesday
4 2022-04-01      2022 April Friday

In [32]:
#TImestamp

ts = pd.Timestamp('2000-03-23')
ts

Timestamp('2000-03-23 00:00:00')

In [33]:
ts.month

3

In [34]:
#Timedelta

de = pd.Timedelta(days=2, hours=5)
print(de)

2 days 05:00:00

In [35]:
ts = pd.Timestamp('2000-03-23')
ts + pd.Timedelta('5 days') #adds 5 days to the timestamp

Timestamp('2000-03-28 00:00:00')

In [22]:
#Parsing datatime strings

date = pd.to_datetime("5th of march, 1997")
date

Timestamp('1997-03-05 00:00:00')

In [39]:
ss = pd.Series(['2022-03-01 11:03:23','2022-01-01 11:03:23','2022-02-01 11:03:23',
                '2022-03-01 11:03:23','2022-04-01 11:03:23'])
s1 = pd.to_datetime(ss,format='%Y-%m-%d %H:%M:%S')
print(s1)

f_s1 = s1.dt.strftime('%Y %B %A ')
f_s1

0   2022-03-01 11:03:23
1   2022-01-01 11:03:23
2   2022-02-01 11:03:23
3   2022-03-01 11:03:23
4   2022-04-01 11:03:23
dtype: datetime64[ns]

0       2022 March Tuesday
1    2022 January Saturday
2    2022 February Tuesday
3       2022 March Tuesday
4        2022 April Friday
dtype: object

In [40]:
#fetching specific time

s1.dt.hour

0    11
1    11
2    11
3    11
4    11
dtype: int32

In [41]:
s1.dt.weekday

0    1
1    5
2    1
3    1
4    4
dtype: int32

In [49]:
#TimeSeries using numpy

import numpy as np

date + pd.to_timedelta(np.arange(12), 'D')

DatetimeIndex(['1997-03-05', '1997-03-06', '1997-03-07', '1997-03-08',
               '1997-03-09', '1997-03-10', '1997-03-11', '1997-03-12',
               '1997-03-13', '1997-03-14', '1997-03-15', '1997-03-16'],
              dtype='datetime64[ns]', freq=None)

In [52]:
#Indexing by time

index = pd.DatetimeIndex(['1997-03-05', '1997-03-06', '1997-03-07', '1997-03-08',
               '1997-03-09', '1997-03-10', '1997-03-11', '1997-03-12',
               '1997-03-13', '1997-03-14', '1997-03-15', '1997-03-16'])

data = pd.Series(range(12),index = index)
data

1997-03-05     0
1997-03-06     1
1997-03-07     2
1997-03-08     3
1997-03-09     4
1997-03-10     5
1997-03-11     6
1997-03-12     7
1997-03-13     8
1997-03-14     9
1997-03-15    10
1997-03-16    11
dtype: int64

In [53]:
data['1997-03-05' : '1997-03-11']

1997-03-05    0
1997-03-06    1
1997-03-07    2
1997-03-08    3
1997-03-09    4
1997-03-10    5
1997-03-11    6
dtype: int64

In [63]:
from datetime import datetime
dates = pd.to_datetime([datetime(2023,2,1),"5th of september, 1887",
                       '1997-03-14', '1997-03-15', '1997-03-16'])
print(dates)

DatetimeIndex(['2023-02-01', '1887-09-05', '1997-03-14', '1997-03-15',
               '1997-03-16'],
              dtype='datetime64[ns]', freq=None)

In [62]:
dates.to_period('D')

PeriodIndex(['2023-02-01', '1887-09-05', '1997-03-14', '1997-03-15',
             '1997-03-16'],
            dtype='period[D]')

In [64]:
#Regular Sequences: pd.date_range => generates a sequence of dates between the given range

pd.date_range('2023-04-18', '2023-05-1')

DatetimeIndex(['2023-04-18', '2023-04-19', '2023-04-20', '2023-04-21',
               '2023-04-22', '2023-04-23', '2023-04-24', '2023-04-25',
               '2023-04-26', '2023-04-27', '2023-04-28', '2023-04-29',
               '2023-04-30', '2023-05-01'],
              dtype='datetime64[ns]', freq='D')

In [65]:
pd.date_range('2023-04-18', periods = 4)

DatetimeIndex(['2023-04-18', '2023-04-19', '2023-04-20', '2023-04-21'], dtype='datetime64[ns]', freq='D')

In [67]:
pd.date_range('2023-04-18', periods = 4, freq= 'H')

DatetimeIndex(['2023-04-18 00:00:00', '2023-04-18 01:00:00',
               '2023-04-18 02:00:00', '2023-04-18 03:00:00'],
              dtype='datetime64[ns]', freq='H')

In [68]:
pd.date_range('2023-04-18', periods = 4, freq= 'M')

DatetimeIndex(['2023-04-30', '2023-05-31', '2023-06-30', '2023-07-31'], dtype='datetime64[ns]', freq='M')