<a href="https://colab.research.google.com/github/Dhinesh-Fedor/Python---Basics/blob/main/Python_Basics_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#Dictionary
#syntax => variable = {key1 : value, key2 : value, keyn : value}

#empty dictionary
a = {}


a = {'name' : "bob", "age" : 18, "job" : 'none'}
print(a)

#accessing elements
print(a['name'])

#updating elements
a['job'] = 'engineer'
print(a)

#deleting elements
#del keyword is used

del a['age'] #deleting particular element
print(a)

#clear()
a.clear() #removes all the elements
print(a)

b = {'name' : "bob", "age" : 18, "job" : 'none'}
del b #deletes the entire dictionary

{'name': 'bob', 'age': 18, 'job': 'none'}
bob
{'name': 'bob', 'age': 18, 'job': 'engineer'}
{'name': 'bob', 'job': 'engineer'}
{}

In [15]:
#basic operations
#length method
a = {'name' : "bob", "age" : 18, "job" : 'none'}
print(len(a)) #prints the length of the dictionary

print('name' in a) #key membership test

l = list(a.keys()) #converts the keys of a dictionary into a list
print(l)

l = list(a.values()) #converts the values of a dictionary into a list
print(l)

l = list(a.items()) #converts the keys and values of a dictionary into a list
print(l)

print(a.get('name')) #A key which is there
print(a.get('place')) #A key which is missing
print(a.get('place','chennai')) #Key is assigne da value if given

#update method
b = {'place' : "chennai"}
a.update(b)
print(a)

#pop method
a.pop('age')
print(a)

3
True
['name', 'age', 'job']
['bob', 18, 'none']
[('name', 'bob'), ('age', 18), ('job', 'none')]
bob
None
chennai
{'name': 'bob', 'age': 18, 'job': 'none', 'place': 'chennai'}
{'name': 'bob', 'job': 'none', 'place': 'chennai'}

In [18]:
#nested dictionary

a = { 'name' : 'bob',
      'jobs' : ['developer','manager'],
      'home' : {'state' : 'USA', 'city' : 'ohio'}
}

print(a)

#accessing particular element from nested dictionary

#for example want to print only manager
print(a['jobs'][1])

#accessing only city
print(a['home']['city'])

{'name': 'bob', 'jobs': ['developer', 'manager'], 'home': {'state': 'USA', 'city': 'ohio'}}
manager
ohio

In [21]:
#other ways to make dictionaries

a = {}
a['name'] = 'bob'
a['age'] = 18

print(a)


#or

#dict method is used
a = dict(name = 'bob',age = 20) #note keys should be passed without quotes
print(a)

#or

#dictionay key/value tuples form
a = dict([('name','bob'),('age',18)])
print(a)

{'name': 'bob', 'age': 18}
{'name': 'bob', 'age': 20}
{'name': 'bob', 'age': 18}

In [32]:
#comprehensions in dictionaries
a = { k:v for (k,v) in zip(['a','b','c'],[1,2,3])}
print(a)

a = { x : x ** 2 for x in range(1,5)}
print(a)

a = { i : i * 4 for i in 'SPAM'}
print(a)

a = { i.lower() : i + '!' for i in ['SPAM','LOL','BOB']}
print(a)

{'a': 1, 'b': 2, 'c': 3}
{1: 1, 2: 4, 3: 9, 4: 16}
{'S': 'SSSS', 'P': 'PPPP', 'A': 'AAAA', 'M': 'MMMM'}
{'spam': 'SPAM!', 'lol': 'LOL!', 'bob': 'BOB!'}

In [43]:
#initializing dictionaries

#initialize from keys
a = dict.fromkeys(['a','b','c'],0)
print(a)

#with comprehension
a = { i : 0 for i in ['a','b','c']}
print(a)

a = dict.fromkeys('spam')
print(a) #note dictionaries does not print 0 or null for empty collections instead it returns "None"

{'a': 0, 'b': 0, 'c': 0}
{'a': 0, 'b': 0, 'c': 0}
{'s': None, 'p': None, 'a': None, 'm': None}

In [52]:
#dictionary methods
a = {'name' : "bob", "age" : 18, "job" : 'none'}

print(a.items())
print(a.keys()) #or print(a.viewkeys) both are same
print(a.values()) #or print(a.viewvalues) both are same
a.pop('age')
print(a)
b = a.copy()
print(b)
print(a.clear())

print(str(b))
print(len(b))

dict_items([('name', 'bob'), ('age', 18), ('job', 'none')])
dict_keys(['name', 'age', 'job'])
dict_values(['bob', 18, 'none'])
{'name': 'bob', 'job': 'none'}
{'name': 'bob', 'job': 'none'}
None
{'name': 'bob', 'job': 'none'}
2

In [61]:
#Assignments recap

(a,b,c) = "ABC"
print(a,b,c)

[a,b,c] = (1,2,3)
print(a,b,c)

seq = [1,2,3,4]
a,b,c,d = seq
print(a,b,c,d)

a,*b = seq  #*b acts as reference to rest of the elements (acts as a list)
print(a,b)

a,b,*c = seq
print(a,b,c)

a,*b,c = "SPAM"
print(a,b,c)

A B C
1 2 3
1 2 3 4
1 [2, 3, 4]
1 2 [3, 4]
S ['P', 'A'] M

In [66]:
#functions

def greet(name):
  print('hello!!  ' + name )

greet('bob')

def multiply(a,b):
  return a * b

a = multiply(2,2)
print(a)

def times(a,b):
  return a * b

b = times('Hi!! ', 5)
print(b)

hello!!  bob
4
Hi!! Hi!! Hi!! Hi!! Hi!!

In [70]:
#intersection function

a = [1,2,3,4,5]
b= [1,2,3]

def intersect(a,b):
  result = [x for x in a if x in b]
  return result

result = intersect(a,b)
print(result)

#or

a = "SPAM"
b = "SCAM"

def intersect1(a,b):
  result = []
  for x in a:
    if x in b:
      result.append(x)
  return result


result1 = intersect1(a,b)
print(result1)

[1, 2, 3]
['S', 'A', 'M']

In [72]:
#function in selection statement
a = 6
if a % 2 == 0:
  def func():
    print("even")
else:
  def func():
    print("odd")

func()

even